*{
    margin: 0;
    padding: 0;
}

body{
    background: url('https://images.pexels.com/photos/891252/pexels-photo-891252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
}

.entire-box{
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 3px;
    width: 500px;
    height: 450px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 34%;
    top: 18%;
}

.heading-box{
    margin-bottom: 50px;
    /* background-color: beige; */
}

.heading{
    font-family: 'Architects Daughter', cursive;
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    color: white;
}

.in-box{
    background: transparent;
    height: 70px;
    width: 25%;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none; 
    outline: none;
    color: white;
}
.in-box:focus{
    border-bottom: 1px solid #ff7f50;
    border-top: none;
    border-left: none;
    border-right: none; 
    /* background-color: orange; */
    transition: 0.5s;
}

#qbox-div{
/* background-color: blue; */
position: relative;
display: flex;
justify-content: center;
align-items: center;
bottom: 25px;
}

.qbox{
    /* position: relative; */
    background: transparent;
     margin: 5px;
    height:70px;
    width: 25%; 
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: none;
    border-left: none;
    outline: none;
    color: white;
}

#btn-div{
    width: 0;
    height: 0;
    /* background-color: blue; */
    position: absolute;
    left: 50px;
    bottom: 120px;
}

#btn-skip{
    width: 0;
    height: 0;
    position: absolute;
    right: 170px;
    bottom: 120px;
}

.btn{
    height: 50px;
    width: 120px;
    background-color: #ff6348;
    border: none;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}

#time-left{
    /* background-color: rebeccapurple; */
    position: absolute;
    width: 40%;
    height: 10%;
    /* right: -200px; */
    bottom:8px;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    text-align: center;
    /* border: 1px solid white; */
    color: white;
}

::placeholder{
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Baloo 2', cursive;
}

.radio{
    display: flex;
}

.btn-back{
    cursor: pointer;
    border-radius: 10%;
    position: relative;
    /* text-transform: capitalize; */
    font-weight: bolder;
    /* float: left; */
    font-style: bold;
    outline: none;
    font-family: 'PT Serif', serif;
    font-size: 5vh;
    /* left: 0%; */
    /* bottom: 170px; */
    width: 5%;
    padding: 10px;
    height: 5%;
    background-color: transparent;
    border: none;
    color: orangered;
}