*{
    margin: 0;
    padding: 0;
}

body{
    background: url('https://wallpaperaccess.com/full/1711175.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
}

.entire-box{
	background-image: linear-gradient(red, orange);
	opacity: 1;
    border-radius: 3px;
    width: 500px;
    height: 450px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 34%;
    top: 18%;
}
.heading-box{
    margin-bottom: 5px;

}
.heading{
    font-family: 'Roboto Slab', serif;
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    color: purple;
}

#ques{
	color: black;
}

#ans{
	color: white;
}

#subbut{
	position: absolute;
    width: 0;
    height: 0;
    left: 85%;
    bottom: 27px;
}
#time-left{
    position: absolute;
	width:80%;
    bottom:10px;
    text-align: left;
    color: black;
}

#btn-back{
    cursor: pointer;
    border-radius: 10%;
    position: relative;
    /* text-transform: capitalize; */
    font-weight: bolder;
    /* float: left; */
    font-style: bold;
    outline: none;
    font-family: 'PT Serif', serif;
    font-size: 5vh;
    /* left: 0%; */
    /* bottom: 170px; */
    width: 5%;
    padding: 10px;
    height: 5%;
    background-color: transparent;
    border: none;
    color: blueviolet;
}
